<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="greetingServiceEng" class="com.example.demo.service.GreetingServiceEng"/>
    <bean id="greetingServiceKor" class="com.example.demo.service.GreetingServiceKor"/>
    <bean id="homeController" class="com.example.demo.controller.HomeController">
<!--        생성자를 이용한 DI-->
        <constructor-arg ref="greetingServiceKor"></constructor-arg>
<!--        Setter를 이용한 DI-->
        <property name="greetingService" ref="greetingServiceKor"></property>
    </bean>
</beans>